{
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "printWidth": 80,
    "proseWrap": "preserve",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^next",
        "^@vercel",
        "^react",
        "^@react",
        "^@components/(*.)",
        "^@ui/(*.)",
        "^@hooks/(*.)",
        "^@utils/(*.)",
        "^[./]"
    ],
    "importOrderSeparation": false,
    "importOderSortSpecifiers": true
}
